BRAVE_SEARCH_API_KEY=
JOOBLE_API_KEY=
JOOBLE_KEYWORDS=praca
JOOBLE_LOCATION=Polska
JOOBLE_RESULTS_PER_PAGE=20
JOOBLE_RADIUS=
AGREGATOR_USER_AGENT=FaroEmployerDiscovery/0.1
AGREGATOR_MAX_PAGES=12
AGREGATOR_REQUEST_DELAY=0.8
